*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", serif;
}

body{
    background-image: url(img/espace.jpg);
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100vw;
}

header{
    width: 100vw;
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 0 5vw 0 5vw; 
    position: fixed;
}
.logo{
    height: 10vh;
    display: flex;
    align-items: center;
}
.logo img{
    height: 8vh;
}
nav{
    display: none;
    align-items: center;
    gap: 2rem;
}
@media screen and (min-width: 80rem) {
    .burger {
      display: none;
    }
    nav{
        display: flex;
    }
  }


.navlink{
    display: flex;
    gap: 8rem;
}
ul a{
    font-size: clamp(1rem, 1.5vw, 3rem);
    color: #818181;
    transition: 0.3s;
}
ul a:hover{
    color: #111;
}

.sidenav{
    height: 100%;
    width: 15rem;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -15rem;
    background-color: #e8e8e8;
    transition: right 0.5s ease;
    padding: 1rem 1rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sidenav p{
    font-size: 1.6rem;
    color: #111;
    display: block;
    transition: 0.3s;
    cursor: default;
}
.sidenav a{
    font-size: 1.6rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav ul{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    gap: 1rem;
}
.sidenav.active {
    right: 0;
}
.sidenav .closeburger{
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 2.5rem;
}
.burger-icon span{
    display: block;
    width: 2.5rem;
    height: 0.9vh;
    background-color: black;
}
.burger-icon{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.page1{
    width: 100%;
    height: 91vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
}
.text{
    width: clamp(20rem, 40vw, 70rem);
    font-size: clamp(1rem, 2vw, 3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.text h1{
    text-align: center;
    color: white;
}
.text p{
    text-align: center;
    color: rgb(207, 207, 207);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100vw;
}
.stars{
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.text1{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 90vw;
    gap: 1rem;
    color: white;
}
.textstar h1{
    width: 90vw;
    color: white;
}
.container-boite{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90vw;
    gap: 2rem;
}
.boite{
    background-color: #454444;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40vw;
    max-width: 70vw;
    height: 5rem;
    border-radius: 1rem;
    border: white 1px solid;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
}
@media screen and (max-width: 600px) {
    .boite {
      min-width: 70vw;
    }
  }

footer{
    width: 100vw;
    height: 10vh;
    background-color: #04071d;
    color: white;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 0 5vw 0 5vw; 
}
.logo-footer{
    height: 10vh;
    display: flex;
    align-items: center;
}
.logo-footer img{
    height: 8vh;
}
.modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content{
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 50rem;
    width: 90%;
    position: relative;
}
#modal-title{
    width: 90%;
    height: 2rem;
}
#modal-content span{
    font-weight: bold;
}
.close{
    position: absolute;
    z-index: 10;
    right: 0.5vw;
    top: 0.5vh;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    background: none;
}

.modal.active{
    display: flex;
}
.slideshow{
    max-width: 30rem;
    position: relative;
    margin: auto;
}
  
.mySlides{
    display: none;
}
.mySlides img{
    width: 100%;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.6s ease;
    border-radius: 0 0.2rem 0.2rem 0;
    user-select: none;
    background-color: rgba(0,0,0,0.2);
} 

.next{
    right: 0;
    border-radius: 0.4rem 0 0 0.4rem;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}
  
.textslide{
    color: #f2f2f2;
    font-size: 1rem;
    padding: 0.5rem;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
  
.numbertext{
    color: #f2f2f2;
    font-size: 1rem;
    padding: 0.5rem;
    position: absolute;
    top: 0;
}
.dotcontainer{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.dot{
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.activeslide, .dot:hover{
    background-color: #717171;
}

  
